.product-description {background-color: rgb(255, 255, 255);padding: 10px;}

.product-and-options{display: inline-block;}

.product-preview-images {
    display: inline-flex;
    border: 1px solid rgb(221, 221, 221);
    overflow: hidden;
}

.preview-and-nav {position: relative;}

.product-preview-styles {height: 25rem;transition: 250ms transform;}

.product-preview-styles > img {
    height: 70px;
    width: 70px;
    display: block;
    border: 1px solid rgb(221, 221, 221);
    border-bottom: 0;
    border-left: 0;
    padding: 4px;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
}

.product-preview-styles > img:hover {border: 2px solid rgb(40, 116, 240);}

.product-preview-styles > img:first-of-type {border-top: 0;}

.product-preview-styles > img:first-of-type:hover {border: 2px solid rgb(40, 116, 240);}

.product-preview-styles > img:last-of-type:hover {border-bottom: 2px solid rgb(40, 116, 240);}

.product-preview {padding: 10px;}

.product-preview iframe {display: none;}

.product-preview img {height: 416px;width: 416px;}

.vertical-nav {display: block;}

.vertical-nav i {
    width: 100%;
    left: 0;
    position: absolute;
    display: block;
    text-align: center;
    background-color: white;
    padding: 5px 0px;
    cursor: pointer;
}

.vertical-nav i:first-of-type {
    top: 0;
    border-bottom: 1px solid rgb(221, 221, 221);
    border-right: 1px solid rgb(221, 221, 221);
}

.vertical-nav i:last-of-type {
    bottom: 0;
    border-top: 1px solid rgb(221, 221, 221);
    border-right: 1px solid rgb(221, 221, 221);
}

.product-options {
    display: flex;
    justify-content: flex-end;
}

.product-options a {
    width: 200px;
    text-align: center;
    display: inline-block;
    padding: 15px 0px;
    margin: 15px 5px;
    border-radius: 2px;
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 17px;
}

.product-and-options a:first-of-type {background-color: rgb(255, 159, 0);}

.product-and-options a:last-of-type {background-color: rgb(251, 100, 27);}

.product-details {
    display: inline-block;
    margin-left: 25px;
}

.product-details .product-datail-name p {
    font-size: 20px;
}

.product-detail-rating-and-reviews > span {
    margin: 10px 5px;
    display: inline-block;
}

.product-detail-rating-and-reviews > span:nth-of-type(1) {
    background-color: rgb(56, 142, 60);
    color: rgb(255, 255, 255);
    padding: 2px 5px;
    font-weight: 500;
    border-radius: 5px;
    font-size: 12px;
}

.product-detail-rating-and-reviews > span:nth-of-type(2) {
    color: rgb(135, 135, 135);
    font-weight: 500;
}

.product-detail-rating-and-reviews span:nth-of-type(3) img {
    height: 20px;
    display: inline-block;
    transform: translateY(5px);
}

.product-details-price-details > span {
    font-size: 14px;
    font-weight: 600;
    color: rgb(56, 142, 60);
    margin: 0px;
}

.product-details-price-tag span:nth-of-type(1) {
    font-weight: 600;
    font-size: 30px;
}

.product-details-price-tag span:nth-of-type(3) {
    font-weight: 500;
    color: rgb(56, 142, 60);
}

.product-details-price-offers p {
    font-weight: 500;
    padding: 20px 0 10px;
}

.product-details-available-offers {
    padding: 5px 0;
}

.product-details-available-offers i {
    color: rgb(56, 142, 60);
    padding-right: 5px;
}

.product-details-available-offers span:nth-of-type(1) {
    font-size: 14px;
    font-weight: 600;
}

.product-details-available-offers span:nth-of-type(2) {
    font-size: 14px;
}

.product-details-available-offers span:nth-of-type(3) {
    font-weight: 600;
    font-size: 14px;
}

.view-more p {
    font-size: 14px;
    font-weight: 600;
    padding-left: 25px;
    padding-top: 10px;
    color: rgb(40, 116, 240);
    cursor: pointer;
    display: none;
}

article {
    background-color: rgb(255, 255, 255);
    padding-top: 3rem;
    border-top: 1px solid rgb(221, 221, 221);
}

.shop {
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
}

.product-display-area {width: 81.5vw; display: inline-block;}

.shop_header {
    margin: 10px;
    margin-bottom: 0px;
    position: relative;
    padding: 10px;
    background-color: rgb(255, 255, 255);
}

.sub-slider-header {border-bottom: 1px solid rgb(221, 221, 221);}

.sub-slider-categories {margin-top: 10px;margin-bottom: 3px;}

.sub-slider-categories span {
    font-weight: 500;
    padding: 10px 5px;
    font-size: 14px;
    cursor: pointer;
}

.shop_header h2 {
    display: inline-block;
    font-weight: 500;
    margin-left: 30px;
    font-size: 22px;
}

.sub-slider-header h2 {margin-left: 5px;}

.shop_header p {margin-left: 30px;}

.shop_header .clock {display: inline-block; margin-left: 30px;}

.shop_header .clock img {
    position: relative;
    top: 6px;
    width: 24px;
}

.shop_header .clock #time_remaining {margin-left: 10px;}

.shop_header button[type="button"] a {
    text-decoration: none;
    padding: 10px 15px;
    display: inline-block;
    font-size: 15px;
    font-weight: 700;
    background-color: rgb(40,116,240);
    color: rgb(255, 255, 255);
}

.shop_header button[type="button"] {
    border: none;
    position: absolute;
    right: 20px;
    top: 0px;
}

.shop_items {
    width: 130vw;
    transition: 1s;
    transform: translateX(2vw);
}

.shop_items .items {
    display: inline-block; 
    padding: 25px;
    width: 210px;
}

.shop_items .items img {display: block; margin: auto;}

.shop_items .items .item_info {text-align: center; margin: auto;}

.shop_items .items .item_info .product_company span:nth-child(1) {
    background-color: rgb(56,142,60);
    color: rgb(255, 255, 255);
    padding: 2px 5px;
    font-weight: 500;
    border-radius: 5px;
    font-size: 12px;
}

.shop_items .items .item_info .product_company span:nth-child(2) {color: rgb(135, 135, 135);}

.shop_items .items .item_info p {
    padding: 5px;
    color: rgb(56,142,60);
    font-size: 14px;
}

.shop_items .items .item_info p:first-of-type {color: rgb(0, 0, 0);}

.shop_items .items .item_info p:last-of-type span:nth-child(1) {color: rgb(0, 0, 0); font-weight: 500;}

.shop_items .items .item_info p:last-of-type span:nth-child(2) {color: rgb(135, 135, 135);}

.shop_items .items .item_info p:last-of-type span:nth-child(3) {font-weight: 500;}

.item_carousel_left_arrow {
    display: block;
    position: absolute;
    top: 35%;
    padding: 50px 20px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid rgb(209,211,213);
    background-color: rgb(255, 255, 255);
    cursor: pointer;
}

.item_carousel_right_arrow {
    display: block;
    right: 0;
    position: absolute;
    top: 35%;
    padding: 50px 20px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 1px solid rgb(209, 211, 213);
    background-color: rgb(255, 255, 255);
    cursor: pointer;
}