.main-para {
    margin: 20px 10px;
}

.main-para h3 {
    font-size: 18px;
    font-weight: 500;
}

.main-para p {
    color: rgb(100, 100, 100);
    font-size: 12px;
    margin: 10px 0;
}

.main-para a {
    text-decoration: none;
}

.product-filter {
    background-color: rgb(255, 255, 255);
    display: inline-block;
    width: 13rem;
    overflow: hidden;
    margin: 10px;
    transform: translateY(-127.5%);
}

.product-filter .filter-head h2 {
    font-size: 20px;
    border-bottom: 1px solid rgb(221, 221, 221);
    padding: 15px;
    font-weight: 500;
}

.product-filter .filter-categories {
    padding-top: 1rem;
    border-bottom: 1px solid rgb(221, 221, 221);
}

.product-filter .filter-categories > p {
    font-size: 14px;
    padding: 5px 15px;
    font-weight: 500;
}

.product-filter .filter-categories ul {
    margin-left: 3rem;
    list-style-type: none;
    padding-bottom: 15px;
}

.product-filter .filter-categories ul li {
    display: block;
}

.product-filter .filter-categories ul li a {
    font-size: 14px;
    padding: 5px;
    color: rgb(0, 0, 0);
    display: block;
    width: 20rem;
}

.product-filter .filter-categories ul > li:last-of-type p {
    font-size: 14px;
    padding: 5px;
    color: rgb(0, 0, 0);
    display: block;
    width: 20rem;
    color: rgb(40, 116, 240);
    cursor: pointer;
}

.product-filter .filter-categories ul > li:last-of-type p::selection {
    color: none;
    background: none;
}

.price-filter {
    padding-bottom: 1rem;
    border-bottom: 1px solid rgb(221, 221, 221);
}

.price-filter-head p {
    font-weight: 600;
    font-size: 14px;
    padding: 10px;
}

.price-range {
    display: flex;
    justify-content: space-evenly;
}

.price-range select {
    border-radius: 0;
    border-color: rgb(221, 221, 221);
    font-size: 14px;
}

.price-range select:focus {
    outline: none;
}

.flipkart-assured {
    position: relative;
    display: flex;
    justify-content: flex-start;
    padding: 15px 0 12px 10px;
    border-bottom: 1px solid rgb(221, 221, 221);
}

.assured-radio-check {
    width: 15px;
    border: 1px solid rgb(194, 194, 194);
    height: 15px;
    background-color: rgb(255, 255, 255);
    transition: background-color 200ms;
    margin: 0 5px 0 10px;
    cursor: pointer;
}

.flipkart-assured img {
    width: 5rem;
    margin: 0 10px;
}

.dropdown-filter {
    border-bottom: 1px solid rgb(221, 221, 221);
}

.dropdown-filter-head {display: flex; justify-content: space-between;}

.dropdown-filter-head p {
    padding: 10px 20px;
    font-weight: 600;
    font-size: 14px;
}

.dropdown-filter-head i {padding: 15px 20px 5px; cursor: pointer;}

.dropdown-filter-head i::selection {color: none; background: none;}

.dropdown-filter-options {padding-bottom: 15px;}

.dropdown-filter-options .option {
    padding: 2px 0;
    display: flex;
    cursor: pointer;
}

.dropdown-filter-options .option-check {
    width: 15px;
    border: 1px solid rgb(194, 194, 194);
    height: 15px;
    background-color: rgb(255, 255, 255);
    transition: background-color 200ms;
    margin: 5px 20px;
}

.dropdown-filter-options p {font-size: 14px; margin: 2px;}

.dropdown-filter-options p::selection {color: none; background: none;}

.shop {
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    position: relative;
    margin: 10px;
    margin-top: 0;
}

.product-display-area {
    width: 81.5vw;
    display: inline-block;
}

.shop_header {
    margin: 10px;
    margin-bottom: 0px;
    position: relative;
    padding: 10px;
    border-bottom: 1px solid rgb(229,229,229);
    background-color: rgb(255, 255, 255);
}

.shop_header h2 {
    display: inline-block;
    font-weight: 500;
    margin-left: 30px;
}

.shop_header p {margin-left: 30px;}

.shop_header .clock {display: inline-block; margin-left: 30px;}

.shop_header .clock img {
    position: relative;
    top: 6px;
    width: 24px;
}

.shop_header .clock #time_remaining {margin-left: 10px;}

.shop_header button[type="button"] a {
    text-decoration: none;
    padding: 10px 15px;
    display: inline-block;
    font-size: 15px;
    font-weight: 700;
    background-color: rgb(40,116,240);
    color: rgb(255, 255, 255);
}

.shop_header button[type="button"] {
    border: none;
    position: absolute;
    right: 20px;
    top: 0px;
}

.shop_items {
    width: 130vw;
    transition: 1s;
    transform: translateX(2vw);
}

.shop_items .items {
    display: inline-block; 
    padding: 25px;
    width: 210px;
}

.shop_items .items img {display: block; margin: auto;}

.shop_items .items .item_info {text-align: center; margin: auto;}

.shop_items .items .item_info .product_company span:nth-child(1) {
    background-color: rgb(56,142,60);
    color: rgb(255, 255, 255);
    padding: 2px 5px;
    font-weight: 500;
    border-radius: 5px;
    font-size: 12px;
}

.shop_items .items .item_info .product_company span:nth-child(2) {color: rgb(135, 135, 135);}

.shop_items .items .item_info p {
    padding: 5px;
    color: rgb(56,142,60);
    font-size: 14px;
}

.shop_items .items .item_info p:first-of-type {color: rgb(0, 0, 0);}

.shop_items .items .item_info p:last-of-type span:nth-child(1) {color: rgb(0, 0, 0); font-weight: 500;}
.shop_items .items .item_info p:last-of-type span:nth-child(2) {color: rgb(135, 135, 135);}
.shop_items .items .item_info p:last-of-type span:nth-child(3) {font-weight: 500;}

.item_carousel_left_arrow {
    position: absolute;
    top: 35%;
    padding: 50px 20px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid rgb(209,211,213);
    background-color: rgb(255, 255, 255);
    cursor: pointer;
}

.item_carousel_right_arrow {
    right: 0;
    position: absolute;
    top: 35%;
    padding: 50px 20px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 1px solid rgb(209,211,213);
    background-color: rgb(255, 255, 255);
    cursor: pointer;
}

.product-info {
    display: flex;
    padding: 10px 0;
    background-color: rgb(255, 255, 255);
    border-top: 1px solid rgb(221, 221, 221);
}

.product-info p, .product-info td {
    margin: 15px 25px;
    color: rgb(120, 120, 120);
    font-size: 12px;
}

.product-info h3 {
    margin: 20px 25px;
    color: rgb(130, 130, 130);
    font-size: 15px;
}

.product-info a {
    text-decoration: none;
}

.product-about {
    width: 70%;
}

.product-info table {
    border-collapse: collapse;
    margin-right: 35px;
}

.product-info table tr {
    border-top: 1px solid rgb(224,224,224);
}

.product-info tr td:first-of-type {
    width: 80%;
}

.product-info td, .product-info th {
    padding: 10px;
}