.main-para {
    margin: 20px 10px;
}

.main-para h3 {
    font-size: 18px;
    font-weight: 500;
}

.main-para p {
    color: rgb(100, 100, 100);
    font-size: 12px;
    margin: 10px 0;
}

.main-para a {
    text-decoration: none;
}

.product-filter {
    background-color: rgb(255, 255, 255);
    display: inline-block;
    width: 13rem;
    overflow: hidden;
    margin: 10px;
}

.product-filter .filter-head h2 {
    font-size: 20px;
    border-bottom: 1px solid rgb(221, 221, 221);
    padding: 15px;
    font-weight: 500;
}

.product-filter .filter-categories {
    padding-top: 1rem;
    border-bottom: 1px solid rgb(221, 221, 221);
}

.product-filter .filter-categories > p {
    font-size: 14px;
    padding: 5px 15px;
    font-weight: 500;
}

.product-filter .filter-categories ul {
    margin-left: 3rem;
    list-style-type: none;
    padding-bottom: 15px;
}

.product-filter .filter-categories ul li {
    display: block;
}

.product-filter .filter-categories ul li a {
    font-size: 14px;
    padding: 5px;
    color: rgb(0, 0, 0);
    display: block;
    width: 20rem;
}

.product-filter .filter-categories ul > li:last-of-type p {
    font-size: 14px;
    padding: 5px;
    color: rgb(0, 0, 0);
    display: block;
    width: 20rem;
    color: rgb(40, 116, 240);
    cursor: pointer;
}

.product-filter .filter-categories ul > li:last-of-type p::selection {
    color: none;
    background: none;
}

.price-filter {
    padding-bottom: 1rem;
    border-bottom: 1px solid rgb(221, 221, 221);
}

.price-filter-head p {
    font-weight: 600;
    font-size: 14px;
    padding: 10px;
}

.price-range {
    display: flex;
    justify-content: space-evenly;
}

.price-range select {
    border-radius: 0;
    border-color: rgb(221, 221, 221);
    font-size: 14px;
}

.price-range select:focus {
    outline: none;
}

.flipkart-assured {
    position: relative;
    display: flex;
    justify-content: flex-start;
    padding: 15px 0 12px 10px;
}

.assured-radio-check {
    width: 15px;
    border: 1px solid rgb(150, 150, 150);
    height: 15px;
    background-color: rgb(255, 255, 255);
    transition: background-color 200ms;
    margin: 0 5px 0 10px;
}

.flipkart-assured img {
    width: 5rem;
    margin: 0 10px;
}

.product-info {
    display: flex;
    padding: 10px 0;
    background-color: rgb(255, 255, 255);
    border-top: 1px solid rgb(221, 221, 221);
}

.product-info p, .product-info td {
    margin: 15px 25px;
    color: rgb(120, 120, 120);
    font-size: 12px;
}

.product-info h3 {
    margin: 20px 25px;
    color: rgb(130, 130, 130);
    font-size: 15px;
}

.product-info a {
    text-decoration: none;
}

.product-about {
    width: 70%;
}

.product-info table {
    border-collapse: collapse;
    margin-right: 35px;
}

.product-info table tr {
    border-top: 1px solid rgb(224,224,224);
}

.product-info tr td:first-of-type {
    width: 80%;
}

.product-info td, .product-info th {
    padding: 10px;
}